.SearchResults {
  width: 50%;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 2px 2px 2px #000000;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.SearchResults h2 {
  cursor: default;
  display: inline;
}

.SearchResults span {
  float: right;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}

.Results {
  margin-top: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Results::-webkit-scrollbar {
  margin-left: 0.5rem;
  width: 5px;
  background: transparent;
}

.Results::-webkit-scrollbar-thumb {
  background: #6c41ec;
  border-radius: 5px;
}