.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 2px 2px 2px #000000;
  height: 450px;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
  margin-top: -8px;
  margin-bottom: 0.5rem;
  line-height: 1.55rem;
  padding-bottom: 4px;
}

.Playlist-tracks {
  width: 100%;
  margin-top: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Playlist-tracks::-webkit-scrollbar {
  margin-left: 0.5rem;
  width: 5px;
  background: transparent;
}

.Playlist-tracks::-webkit-scrollbar-thumb {
  background: #6c41ec;
  border-radius: 5px;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  margin: 0.75rem 0;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
    height: 350px;
    margin-bottom: 2rem;
  }

  .Playlist-tracks {
    max-height: 280px;
    overflow-y: auto;
  }
}