.header {
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  cursor: default;
  display: flex;
  justify-content: center;
  position: relative;
}

.user {
  position: absolute !important;
  right: 1rem;
  font-size: 16px;
  width: auto;
  max-width: 200px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  margin-right: 10px;
}

.userPic {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.select__control {
  margin-right: 10px !important;
}

.select__value-container {
  margin-right: 8px !important;
}

.select__placeholder {
  display: flex !important;
  align-items: center !important;
  padding-right: 10px !important;
}